<p id="notice"></p>
<h1>お気に入り</h1>
<table>
      <thead>
        <tr>
          <th>ユーザー  </th>
          <th>タイトル  </th>
          <th>画像  </th>
          <th>内容  </th>
        </tr>
      </thead>
    <article>
  
      <% @favorite.each do |feed| %>
      
        <tr>
          <td><%= feed.user.name %></td>
          <td><%= feed.feed.title %></td>
          <td><%= image_tag(feed.feed.image.url) %></td>
          <td><%= feed.feed.content %></td>
        </tr>
      <% end %>
    </article>
  </table>

  <%= link_to '投稿一覧へ', feeds_path %>
