<h1><%= @user.name %>のプロフィール</h1>

<p>名前: <%= @user.name %></p>
<p>自己紹介: <%= @user.introduce %></p>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール画像: <%= @user.email %></p>

binding.irb
<%= link_to 'プロフィールを編集する', edit_user_path(@user) %> |
<%= link_to '投稿一覧へ', feeds_path %>
